*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Acme', sans-serif;
    background-image: url(image/cover.jpg);
    background-size: cover;
    
}
.wrapper{
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgb(12, 12, 12);
}
.text-header {
    backface-visibility: hidden;
    display: flex;
    flex-flow: column wrap;
    width: 50vw;
}
.header_main {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.header_sub{
    text-align: center;
    letter-spacing: 20px;
    font-size: 17px;
    text-align: center;
    color: red;
    animation: moveInRight 1s ease-out;
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.navmenu {
    width: 50vw;
    height: 61.6px;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.navmenu li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    height: 30px;
}
.navmenu li a:hover, .navmenu li a:active{
    color: red;
}
.dropdown_content{
    display: none;
}
.dropdown:hover .dropdown_content{
    position: absolute;
    display: flex;
    flex-flow: column wrap;
}
.main-box{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:link, .button:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: white;
    font-weight: bold;
    border: 2px solid rgba(226, 214, 214, 0.884);
    padding: 5px 20px;
    text-align: center;
    border-radius: 100px;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px 0 rgba(43, 43, 43, 0.836);
}
.button:active{
    transform: translateY(-1px); 
    box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.836);
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
